html, body {
    margin: 0;
    transform-origin: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body > * {
    padding: 1em;
}

header {
    background: #d3ccfd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > .logo img {
    height: 120px;
}
header > h1 {
    font-weight: 800;
    color: rgb(32, 32, 32);
}
h1 {
    font-family: "Poppins", "Helvetica Neue", "Arial";
    font-weight: 900;
}

footer {
    display: flex;
    flex-direction: column;
    background: rgb(127, 124, 250);
    align-items: stretch;
    position: relative;
    bottom: 0;
}
footer .content {
    background: rgb(127, 124, 250);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    bottom: 0;
}
footer > .copyright {
    font-weight: 100;
    color: white;
    align-self: center;
}
footer .content > * {
    padding: .75em;
    border-radius: 1.8em;
}
footer .authors {
    background: rgba(0, 0, 255, 0.185);
}
footer .authors .nom {
    font-weight: bold;
}
footer .legals {
    background: rgba(255, 30, 0, 0.445);
}
footer .infos {
    background: rgb(47, 43, 238);
}
footer h2 {
    color: white;
    font-size: 1.5em;
    font-weight: 700;
}
footer ul {
    margin: 0;
    display: block;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
footer li {
    padding: .5em;
    background: white;
    display: block;
    margin: .5em;
    border-radius: .5em;
    transition: .5s;
}
footer li:hover {
    padding: 2em;
    background: none;
    color: white;
}
footer li:hover a {
    color: white;
}
footer li:hover .nom {
    font-size: 1.25em;
}

article .content {
    display: flex;
    flex-direction: row;
}
article .logo {
    height: 10em;
    margin: 1em;
}

article {
    border-top: .2em solid rgba(0, 0, 0, 0.555);
}

article > figure {
    place-self: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

main {
    display: flex;
    justify-content: space-between;
}
main > aside {
    padding: 0;
    position: sticky;
    top: 10px;
    height: 100%;
    min-width: 150px;
}
main > aside ul {
    display: block;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 10px;
}
main > section {
    padding: 1.5em;
    width: -webkit-fill-available;
}

main img {
    max-width: 512px;
}

footer .logo {
    height: 64px;
    background: none;
    border-radius: 3em;
}

.container { 
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1); 
}

.container > ul li {
    
}

nav { 
    background: #333; 
    padding: 10px; 
    text-align: center; 
}
nav > ul {
    display: flex;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
nav > ul a:hover {
    text-decoration: underline;
    color: white;
}
a:not(.logo-link):before {
    content: "🔗 ";
}
nav a { 
    color: white; margin: 0 15px; text-decoration: none; font-weight: bold; 
}
p { margin-bottom: 10px; }
ul { list-style-type: square; margin-left: 20px; }
.feature-section { margin-bottom: 20px;}


figure > figcaption::before {
    content: "Légende: ";
}